
<div>
    <section class="square">
      <div id="loginSquare">
        <h3>Select your avatar</h3>
        <div class="avatarWrap">
          {{#each users}}
            <div class="avatar">
              <a href="/projects/{{this.id}}">
              <img src="{{this.avatarUrl}}">
              <div class="userName">{{this.name}}</div>
              </a>
            </div>
          {{/each}}
        </div>
        <div class="create">
            <h4>Create Account &nbsp;<svg onclick="myFunction()" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle"  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg></h4>
        </div>
      </div>
      <form action="/users/add" method="POST" id="createSquare">
        <h3>Create Account</h3>
        <div class="create">
          <input name="name" placeholder="username" required/>
          <input name="avatarUrl" type="url" placeholder="avatar URL" required/>
          <button class="loginBtn">Login</button>
        </div>
      </form>
    </section>
</div>
<script>
  function myFunction(){
    var x = document.getElementById("createSquare");
    var y = document.getElementById("loginSquare");
    if (x.style.display === "none"){
        x.style.display = "flex";
        y.style.display = "none"
    } else {
        x.style.display = "none";
        y.style.display = "flex"
    }
}
</script>
