html {
    height: 100vh;
}

body {
    height: 100vh;
}

.bi-plus-circle, button{
    cursor: pointer;
}

#loginSquare{
    display:flex;
    flex-direction: column;
    border:2px solid black;
    align-items: center;
    justify-content: center;
    width:500px;
    padding:.5rem;
}
#createSquare{
    display:none;
    flex-direction: column;
    border:2px solid black;
    width:500px;
    align-items: center;
    justify-content: center;
    padding:.5rem;
}
.login{
    padding:10px;
}
.create{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.squares{
    display: flex;
    align-items: center;
    justify-content: center;

}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black
}

section#deleteZone {
    display: none;
    margin: 3rem;
    max-width: 5em;
    max-height: 5em;
    text-align: center;
}
section#todoZone {
    margin-top: 2rem;
    background-color: #D05353;
    border: 1px solid black;
    min-height: 20rem;
    position: relative;
}
section#doingZone {
    margin-top: 2rem;
    background-color: #FFCF70;
    border: 1px solid black;
    min-height: 20rem;
    position: relative;
}
section#doneZone {
    margin-top: 2rem;
    background-color: #4DA167;
    border: 1px solid black;
    min-height: 20rem;
    position: relative;
}
#newTask input {
    width: 84%;
    text-align: center;
    background-color: white;
    border: #D05353;
    height: 30px;
}
#newTask {
    position: inline;
    margin-top: 5px;
    bottom: 0;
    margin-bottom: 7.5px;
    white-space: nowrap;
    background-color: #D05353;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tasktitles {
    text-align: center;
    padding: 5px;
}
.tasklist {
    text-align: center;
    list-style: upper-roman;
    
}
li {
    margin:5px 5px 10px 5px;   
}

.desktopOnly {
    display: none;
}

@media only screen and (min-width: 768px) {

    .mobileOnly {
        display: none;
    }

    .desktopOnly {
        display: block;
    }

    .desktopContent {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-gap: 15px;
    }


  }
